<!DOCTYPE html>
<html lange="en">
<body> 
	<form action="." method="POST">
	<h3>What color do you want the text to be?</h3>
	  	<input type="radio" name="color" value="red"> Red<br>
  		<input type="radio" name="color" value="blue"> Blue<br>
  		<input type="radio" name="color" value="green"> Green<br>
		<input type="radio" name="color" value="yellow"> Yellow<br>
  		<input type="radio" name="color" value="cyan"> Cyan<br>
		<input type="radio" name="color" value="magenta"> Magenta<br>
  		<input type="radio" name="color" value="white"> White<br>
		<input type="submit" name="color-form" value="Enter">	
	</form>
	<h3>Enter the text you want displayed</h3>
	</form>
	<form action="." method="POST">
		<input type="text" name="program">
		<input type="submit" name="program-form" value="Enter">
	</form>
</body>
</html>
